<!doctype html>
<html>
	<header>
		<title>Marimaker</title>
	<header>
	<body>
		<h1>Marimaker:  Crop and create ala 42 photos with your photo automatically!</h1>
		{% include 'form.html' %}
		<h1>Good photos Examples!</h1>
		<img src="https://cdn.discordapp.com/attachments/774747114353066004/934561323872833607/theofficer.jpg" width="300">
		<img src="https://cdn.discordapp.com/attachments/774747114353066004/934566678191300708/caioresult.png" width="300">
		<br>
		<img src="https://cdn.discordapp.com/attachments/774747114353066004/934561323361107968/rafa.png" width="300">
		<img src="https://cdn.discordapp.com/attachments/774747114353066004/934566677713158184/rafaexample.png" width="300">
		<br>
	<body>
</html>
