<!doctype html>
<html>
	<header>
		<title>Marimaker</title>
	<header>
	<body>
		<div id=edit>
			<img id="background" src="{{url_for('static', filename='../assets/cyan_background.png')}}" width="600"/>
			<img id="star" src="{{url_for('static', filename='../assets/magenta_star.png')}}" width="300"/>
			<img id=img src="{{url_for('static', filename='../assets/cropResult.png')}}" width="500"/>
		</div>
		<div id=inputs>
			<form>
				<label for="background_color">Background Color:</label>
				<input type="button" value="MAGENTA" onclick="turnBackground('magenta');">
				<input type="button" value="YELLOW" onclick="turnBackground('yellow');">
				<input type="button" value="CYAN" onclick="turnBackground('cyan');">
				<br><br>
				<label for="star_color">Star Color:</label>
				<input type="button" value="MAGENTA" onclick="turnStar('magenta');">
				<input type="button" value="YELLOW" onclick="turnStar('yellow');">
				<input type="button" value="CYAN" onclick="turnStar('cyan');">
				<br><br>
				<label for="star_position">Star Position:</label>
				<input type="number" id="star_x" name="Star X" placeholder="Star X = 1">
				<input type="number" id="star_y" name="Star Y" placeholder="Star Y = 1">
				<input type="number" id="star_size" name="Star Size" placeholder="Star Size = 1">
				<br><br>
				<label for="Image_position">Image Position:</label>
				<input type="number" id="Image_x" name="Image X" placeholder="Image X = 1">
				<input type="number" id="Image_y" name="Image Y" placeholder="Image Y = 1">
				<input type="number" id="Image_size" name="Image Size" placeholder="Image Size = 1">
				<br><br>
				<input type="submit" value="SAVE">
				<br><br>
			</form>
		</div>
	<body>
</html>

<style>
	img{
		position: absolute;
	}
	#background {
		z-index: 0;
	}	
	#star{
		z-index: 1;
		margin-left: 0px;
	}
	#img{
		z-index: 2;
	}
	input{
		width: 100px;
	}
	#inputs{
		background-color: #f2f2f2;
		padding: 5px;
		margin-left: 650px;
		width: 500px;
	}
</style>

<script>
	function turnBackground(color)
    {
    	document.getElementById('background').
		src='../assets/'+color+'_background.png';
    }
	function turnStar(color)
    {
		document.getElementById('star').
		src='../assets/'+color+'_star.png';
    }
	function changeStarX(amount)
	{
		document.getElementById("star").style.marginLeft = amount;
	}
</script>
