<!doctype html>
<html>
	<header>
		<title>Marimaker</title>
	<header>
	<body>
		<div id=canvas>
			<img id="background" src='../assets/cyan_background.png' width="600"/>
			<img id="star" src="../assets/magenta_star.png" width="300"/>
			<img id="img" src="../assets/cropResult.png" width="500"/>
		</div>
		<div id=inputs>
			<form>
				<label for="background_color">Background Color:</label>
				<input type="button" value="MAGENTA" onclick="turnBackground('magenta');">
				<input type="button" value="YELLOW" onclick="turnBackground('yellow');">
				<input type="button" value="CYAN" onclick="turnBackground('cyan');">
				<br><br>
				<label for="star_color">Star Color:</label>
				<input type="button" value="MAGENTA" onclick="turnStar('magenta');">
				<input type="button" value="YELLOW" onclick="turnStar('yellow');">
				<input type="button" value="CYAN" onclick="turnStar('cyan');">
				<br><br>
				<label for="star_position">Star Position:</label>
				<br><br>
				<input type="button" value="X -10" onclick="starStyle('x', -10)">
				<input type="button" value="X +10" onclick="starStyle('x', 10);">
				<br><br>
				<input type="button" value="Y -10" onclick="starStyle('y', -10);">
				<input type="button" value="Y +10" onclick="starStyle('y', 10);">
				<br><br>
				<input type="button" value="Size -50" onclick="starStyle('s', -50);">
				<input type="button" value="Size +50" onclick="starStyle('s', 50);">
				<br><br>
				<label for="Image_position">Image Position:</label>
				<br><br>
				<input type="button" value="X -10" onclick="imageStyle('x', -10)">
				<input type="button" value="X +10" onclick="imageStyle('x', 10);">
				<br><br>
				<input type="button" value="Y -10" onclick="imageStyle('y', 10);">
				<input type="button" value="Y +10" onclick="imageStyle('y', -10);">
				<br><br>
				<input type="button" value="Size -50" onclick="imageStyle('s', -50);">
				<input type="button" value="Size +50" onclick="imageStyle('s', 50);">
				<br><br>
				<input type="button" value="SAVE" onclick="printDiv();">
				<br><br>
			</form>
		</div>
		<div id="saved"></div>
	<body>
	<script src="/html2canvas/html2canvas.js"></script>
</html>

<style>
	img{
		position: absolute;
	}
	#background {
		z-index: 0;
	}	
	#star{
		z-index: 1;
		margin-left: 0px;
	}
	#img{
		z-index: 2;
	}
	input{
		width: 100px;
	}
	#inputs{
		background-color: #f2f2f2;
		padding: 5px;
		margin-left: 650px;
		width: 500px;
	}
	
</style>

<script>
	var x_star = 0;
	var y_star = 0;
	var s_star = 300;
	var x_img = 0;
	var y_img = 0;
	var s_img = 500;
	
	function printDiv()
	{
		console.log();
	}
	function turnBackground(color)
    {
    	document.getElementById('background').
		src='../assets/'+color+'_background.png';
    }
	function turnStar(color)
    {
		document.getElementById('star').
		src='../assets/'+color+'_star.png';
    }
	function starStyle(mode, amount)
	{
		if (mode == 'x')
		{
			x_star += amount;
			document.getElementById("star").style.marginLeft = (x_star.toString())+"px"
		}
		if (mode == 'y')
		{
			y_star += amount;
			document.getElementById("star").style.marginTop = (y_star.toString())+"px"
		}
		if (mode == 's')
		{
			s_star += amount;
			document.getElementById("star").style.width = (s_star.toString())+"px"
		}
	}
	function imageStyle(mode, amount)
	{
		if (mode == 'x')
		{
			x_img += amount;
			document.getElementById("img").style.marginLeft = (x_img.toString())+"px"
		}
		if (mode == 'y')
		{
			y_img += amount;
			document.getElementById("img").style.marginTop = (y_img.toString())+"px"
		}
		if (mode == 's')
		{
			s_img += amount;
			document.getElementById("img").style.width = (s_img.toString())+"px"
		}
	}
</script>
